@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.wrapper {
    width: 370px;
}

.wrapper .title {
    background: #007bff;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;   
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.wrapper .chat-plus{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: green;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.wrapper .box {
    border: 1px solid #efefef;
    padding: 10px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;

}
.contact-list{
    cursor: pointer;   
}
.contact{
display: flex;
align-items: center;
gap: 10px;
padding: 10px 0px;

}


.contact .icon {
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;  
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}

.wrapper .box .item {
    
    float: left;
    margin: 10px 0;
}
.left{
    display: flex;
}

.wrapper .box .item .icon {
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
   display: flex;
    border-radius: 50%;
}

.wrapper .box .item .msg {
    background: #007bff;
    color: white;
    border-radius: 10px;    
    margin-left: 10px;
    min-width: 150px;
    max-width: 200px;
    word-break: break-word;
    text-align: start;
}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    width: 100%;
    display: flex;
    justify-content: end;
}

.wrapper .box .item.right .msg {
    background: #efefef;
    color: #333;
}

.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field input:focus {
    border-color: #007bff;
}

.wrapper .typing-area .input-field button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #007bff;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field button:hover {
    background: #007bff;
    color: white;
}

.wrapper .typing-area .input-field input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 400px) {
    .wrapper {
        width: 270px;   
     }

    .contact .icon {       
        width: 30px;
        height: 30px;
    }
    .wrapper .box .item .icon {
       
        width: 30px;
        height: 30px;
    
    }
}